In [4]:
from collections import defaultdict
import numpy as np
import pandas as pd
# from bs4 import BeautifulSoup
import requests
import time, os
# from selenium import webdriver
# from selenium.webdriver.common.keys import Keys
# from selenium.webdriver.common.by import By
# from selenium.webdriver.support.ui import WebDriverWait
# from selenium.webdriver.support.ui import Select
# from selenium.webdriver.support import expected_conditions as EC
# from webdriver_manager.chrome import ChromeDriverManager

In [26]:
# %%time
# all_movies_response = requests.get('http://bechdeltest.com/api/v1/getAllMovies')

In [27]:
bechdel_movies = pd.DataFrame(all_movies_response.json())
print(bechdel_movies.shape)
bechdel_movies.columns

(8786, 5)

Index(['imdbid', 'rating', 'title', 'id', 'year'], dtype='object')

In [32]:
%%time

dubious_data = []
error_ids = []
for row in bechdel_movies['imdbid']:
    response = requests.get('http://bechdeltest.com/api/v1/getMovieByImdbId?imdbid='+str(row))
    data = response.json()
    if str(row) == data['imdbid']:
        print('Match found with',str(row))
        dubious_dict = {}
        dubious_dict['imdbid'] = data['imdbid']
        dubious_dict['dubious'] = data['dubious']
        dubious_data.append(dubious_dict)
    else:
        print('Error with',str(row))
        error_ids.append(str(row))
        
print(error_ids)        
pd.DataFrame(dubious_data)

Match found with 0392728
Match found with 0000003
Match found with 0132134
Match found with 0000014
Match found with 0000131
Match found with 0223341
Match found with 0000012
Match found with 0000091
Match found with 0000041
Match found with 0135696
Match found with 0224240
Match found with 0000211
Match found with 0000230
Match found with 0000246
Match found with 0000306
Match found with 0000313
Match found with 0291476
Match found with 0135453
Match found with 0377995
Match found with 0000300
Match found with 0257654
Match found with 0230746
Match found with 0000272
Match found with 0227438
Match found with 0000304
Match found with 0258104
Match found with 0000359
Match found with 0131934
Match found with 0000417
Match found with 0000413
Match found with 0367177
Match found with 0229024
Match found with 0000439
Match found with 0223755
Match found with 0189498
Match found with 0000455
Match found with 0135180
Match found with 0135631
Match found with 0215664
Match found with 0135179
Match found with 0000499
Match found with 0135690
Match found with 0215575
Match found with 0000574
Match found with 0000567
Match found with 1260944
Match found with 0135122
Match found with 0449172
Match found with 0000554
Match found with 0216016
[]
Wall time: 55.9 s

     imdbid dubious
0   0392728       0
1   0000003       0
2   0132134       0
3   0000014       0
4   0000131       0
5   0223341       0
6   0000012       0
7   0000091       0
8   0000041       0
9   0135696       0
10  0224240       0
11  0000211       0
12  0000230       0
13  0000246       0
14  0000306       0
15  0000313       0
16  0291476       0
17  0135453       0
18  0377995       0
19  0000300       0
20  0257654       0
21  0230746       0
22  0000272       0
23  0227438       0
24  0000304       0
25  0258104       0
26  0000359       0
27  0131934       0
28  0000417       0
29  0000413       0
30  0367177       0
31  0229024       0
32  0000439       0
33  0223755       0
34  0189498       0
35  0000455       0
36  0135180       0
37  0135631       0
38  0215664       0
39  0135179       0
40  0000499       0
41  0135690       0
42  0215575       0
43  0000574       0
44  0000567       0
45  1260944       0
46  0135122       0
47  0449172       0
48  0000554       0
49  0216016       0

In [36]:
mask = bechdel_movies['year'] == 2020
bechdel_movies[mask].sort_values(by='title')

        imdbid  rating                             title    id  year
8741  10816484       3                       18 Presents  9136  2020
8735   3907584       3             All the Bright Places  9036  2020
8734   3089630       3                      Artemis Fowl  9208  2020
8721   1502397       2                 Bad Boys For Life  9071  2020
8778   4798836       3                          Bad Hair  9317  2020
...        ...     ...                               ...   ...   ...
8727   5198068       3                       Wolfwalkers  9367  2020
8718   7126948       3                 Wonder Woman 1984  9405  2020
8731  10276470       3                           Work It  9234  2020
8742   9766166       3                         Zombies 2  9039  2020
8748   1552211       0  last days of american crime, The  9165  2020

[82 rows x 5 columns]